.sidebar-filter {
  min-width: 200px;
  max-width: 240px;
  height: 100%;
  background-color: #DDE1E6;
  padding: 20px;
  border-right: 1px solid #878D96;
}

.sidebar-filter h3 {
  font-weight: 25px;
  margin-bottom: 25px;
}

.radio-label {
  display: flex;
  text-align: left;
  margin-bottom: 13px;
  font-weight: 450;
  font-size: 17px;
  cursor: pointer;
}

.radio-label input {
  margin-right: 10px;
}
