.title-container {
  width: auto;
  text-align: center;
  padding: 20px 20px;
  border-bottom: 2px solid #b5bbc2;
}

.title-sub {
  font-size: 1.2rem;
  font-weight: 600;
  color: #133d6f;
  margin: 3px 0 0 0;
  letter-spacing: 0.5px;
}

.title-main {
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
  margin: 5px 0 0 0;
}
