.home-page {
  min-height: 100vh;
  margin-left: 270px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-left: 275px;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  border-left: 1px solid #eff3f4;
  border-right: 1px solid #eff3f4;
}

.complaints-container {
  background-color: #ffffff;
  min-height: 100vh;
}
