.home-page {
  margin-top: 60px;
  min-height: calc(100vh - 60px);
  display: grid;
  grid-template-columns: 280px 1fr;
  position: relative;
}

.filter-bar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 280px;
  height: calc(100vh - 60px);
  background-color: #dde1e6;
  z-index: 2;
}

.main-content {
  grid-column: 2;
  padding: 20px;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
}

.complaints-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f4f8;
  width: 100%;
}
