.container {
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #878D96;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    overflow: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 3px;
    cursor: pointer;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title .entity-icon {
    font-size: 15px;
    color: white;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entity-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.entity-name {
    margin-left: 8px;
    color: #888;
    font-size: 13px;
}

.expand-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
    margin-right: 15px;
}

.description {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    transition: max-height 0.4s ease-out, padding 0.4s ease-out;
    border-top: 1px solid #e9ecef;
    font-size: 14px;
    color: #000;
}

.description p {
  margin: 0;
  text-align: left;
}

.description.open {
  max-height: 500px;
  padding: 15px 20px 20px 20px;
  transition: max-height 0.4s ease-in, padding 0.4s ease-in;
}



