.container {
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #878d96;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 0;
}

.complaint-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: px 12px;
  border-radius: 16px 16px 0 0;
  background: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
}

.title {
  display: flex;
  align-items: center;
}
.entity-icon {
  margin: 12px 17px 6px 17px;
}
.entity-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.entity-name {
  margin-left: 8px;
  color: #888;
  font-size: 13px;
}

.entity-date {
  margin-left: 12px;
  color: #b0b0b0;
  font-size: 14px;
  font-weight: 500;
}

.expand-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-right: 15px;
  transition: transform 0.3s ease;
}

.description {
  max-height: 500px;
  overflow: hidden;
  padding: 15px 20px 20px 20px;
  border-top: 1px solid #e9ecef;
  font-size: 14px;
  color: #000;
}

.description p {
  margin: 0;
  text-align: left;
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 7px;
  gap: 5px;
}

.status {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-right: 12px;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

/* Colores por estado */
.status-dot.open {
  background-color: #28a745;
}
.status-dot.under_review {
  background-color: #ffc107;
}
.status-dot.closed {
  background-color: #6c757d;
}

.status-label {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}

.options-container {
  position: relative;
  z-index: 100;
  height: 40px;
  display: flex;
  align-items: center;
}

.options-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  color: #666;
  font-size: 20px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.options-button:hover {
  color: #333;
  background-color: #f5f5f5;
  border-radius: 50%;
}

.options-menu {
  position: absolute;
  right: 16px;
  top: 100%;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 150px;
  margin-top: 4px;
  overflow-y: auto;
}

.options-menu button {
  display: block;
  width: 100%;
  padding: 12px 20px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.options-menu button:first-child {
  border-radius: 8px 8px 0 0;
}

.options-menu button:last-child {
  border-radius: 0 0 8px 8px;
}

.options-menu button:hover {
  background: #f5f5f5;
  color: #0f62fe;
  font-weight: bold;
}

.options-menu button.delete:hover {
  background: #ffe5e5;
  color: #ff0000;
  font-weight: bold;
}

.complaint-wrapper {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}
